XML and SVG/hdun445-schema1.xsd

<?xml  version="1.0"?>
<xs:schema id="BookArray" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ArrayOfBook" nillable="true">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Book" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthorInitials" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="[a-z A-Z]*"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="AuthorSurname" nillable="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="[a-z 'A-Z]*"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string"/>
        </xs:sequence>
        </xs:complexType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  </xs:element>
</xs:schema>
